<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1"/>


{% block stylesheets %}

<link type="text/css" rel="stylesheet" href="{{ asset('bundles/gggnotices/css/style_liste.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/ggguser/css/form_ins.css') }}"/>

{% endblock %}


<title>
{% block title %}
Page des inscriptions | mon-aspirateur.net
{% endblock %}
</title>

</head>
<body>

{% include 'GGGNoticesBundle:Default:header_ins.html.twig' %}


<div class="wrapper">
{% block wrapper %}

<ul id="propositions">
</ul>

<h2>Créer votre compte pour consulter les notices, recevoir des alertes sur la parution des notices, etc.</h2>

{% for succes in app.session.flashbag.get('succes') %}<p class="info">{{ succes|raw }}</p>{% endfor %}
{% for erreur in app.session.flashbag.get('erreur') %}<p class="erreur">{{ erreur|raw }}</p>{% endfor %}
<form action="" method="POST" id="form_ins">

<div class="login"><label for="login" title="login">Login</label><input id="login" name="login" type="text" value="{% if user.username is defined %}{{ user.username }}{% endif %}"/></div>

<div class="password"><label for="password" title="password">Mot de passe</label><input id="password" name="password" type="password" value=""/></div>

<div class="password"><label for="password_conf" title="confirm password">Confirmation mot de passe</label><input id="password_conf" name="password_conf" type="password" value=""/></div>

<div class="email"><label for="email" title="confirm e-mail">E-mail</label><input id="email" name="email" type="email" value="{% if user.email is defined %}{{ user.email }}{% endif %}"/></div>

<div class="email"><label for="email_conf" title="confirm e-mail">Email confirmation</label><input id="email_conf" name="email_conf" type="email" /></div>

<input name="btn_submit" type="submit" value="Je m'inscris"/>
</form>


{% endblock %}
</div><!-- fin wrapper-->
{% include 'GGGNoticesBundle:Default:footer.html.twig' %}


{% block js %}
<script type="text/javascript" src="{{ asset('bundles/gggnotices/js/formulaires.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gggnotices/js/recherches.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gggnotices/js/propositions.js') }}"></script>
{% endblock %}

</body>
</html>