<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1"/>


{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/gggnotices/css/style.css') }}"/>
{% endblock %}


<title>
{% block title %}
Tous les {{ nom }} | mon-aspirateur.net
{% endblock %} 
</title>

</head>
<body>

{% include 'GGGNoticesBundle:Default:header.html.twig' %}


<div class="wrapper">
{% block wrapper %}



{% for message in app.session.flashbag.get('erreur') %}
<p class="erreur">{{ message|raw }}</p>
{% endfor %}

{{ form_start(form_filtre) }}
<h3>{{ form_label(form_filtre.nom,'Filtre par marques') }}</h3>
{{ form_widget(form_filtre.nom) }}
{{ form_end(form_filtre) }}



{% if marqueNom is not null %}
<p class="info">{{ nom|capitalize }} de la marque {{ marqueNom|upper }}</p>
{% endif %}
{% for appareil in appareils %}
<a href="{{ path('ggg_notices_appareil_id', { id: appareil.id }) }}">
<div class="appareil">
<img src="/bundles/gggnotices/images/{{ appareil.photo }}.jpg" alt="{{ appareil.nom }}"/>
<strong class="nom">{{ appareil.marque.nom|upper }} {{ appareil.nom|upper }}</strong> 

</div>
</a>
{% endfor %}


{% endblock %}
</div><!-- fin wrapper-->
{% include 'GGGNoticesBundle:Default:footer.html.twig' %}


{% block js %}
<script type="text/javascript" src="{{ asset('bundles/gggnotices/js/formulaires.js') }}"></script>
{% endblock %}

</body>
</html>