<div id="header"><!-- On aurait pu mettre une balise <header> mais IE 8 ne connait pas...a débattre (question: POV Gooogle, Yahoo, Bing pour le referencement ? )-->

<span class="wykoo">
<a href="http://www.wykoo.com" title="Wykoo, faites durer vos appareils et économisez">
<img src="{{ asset('bundles/gggnotices/images/logo_happy.png') }}" 
	 alt="logo" 
	 title="bienvenue sur mon-aspirateur.fr" width="120px" height="42px"/>
<i>Faite durer vos appareils et économisez</i>
</a>
</span>





{% block connexion %}
<span class="log">

{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
<div>Bienvenue {{ app.user.username }}
<br/>
<a href="{{ path('logout') }}" title="se déconnecter">déconnexion</a>
</div>
{% else %}

{% if error is defined %}
<p class="erreur">{{ error.message }}</p>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
<input type="text" name="_username" placeholder="pseudo ou mail" />
<input type="password" name="_password" placeholder="password" />
<input type="submit" value="Connexion"/>
vous n'avez pas encore de compte ? <a href=" {{ path('ggg_user_inscription') }}" title="page des inscriptions">inscrivez-vous</a>
</form>


{% endif %}

</span>
{% endblock %}


{% block h1 %}
<h1>
Trouvez rapidement la notice de votre aspirateur
</h1>
{% endblock %}



{% block menu %}

<nav>

<ul class="menu">
<li><a href="{{ path('ggg_notices_homepage') }}" 	title="retour à l'accueil">Accueil</a></li>
<li><a href="{{ path('ggg_notices_marques') }}" 	title="trier par marques">Marques</a></li>
<li><a href="{{ path('ggg_notices_categories') }}"  title="trier par catégories">Catégories</a></li>
</ul>

<div id="recherches">

<div id="noRes">Aucun résultats</div>
<input name="motif" id="motif" type="search" placeholder="Entrer votre recherche"/>
<img id="loupe"
	 src="{{ asset('bundles/gggnotices/images/loupe.png') }}"
	 alt="barre de recherche"/>

</div>

</nav>

{% endblock %}

</div><!-- FIN <div id="header"> -->