<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1"/>

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/gggnotices/css/style_liste.css') }}"/>
{% endblock %}


{% block title %}
<title>mon-aspirateur.net | Toutes les catégories</title>
{% endblock %}

</head>
<body>



{% include 'GGGNoticesBundle:Default:header2.html.twig' %}



<div class="wrapper">
{% block wrapper %}


<ul id="propositions">
</ul>

<h2>Retrouvez votre aspirateur par sa catégorie</h2>


{% for message in app.session.flashbag.get('erreur') %}
<p class="erreur">
	Info: {{ message|raw }}
</p>
{% endfor %}



<ul class="categories">
{% for categorie in categories %}
<li class="categorie"><a href="{{ path('ggg_notices_categories_nom',{ 'nom': categorie.nom }) }}">{{ categorie.nom|upper }}</a></li>
{% endfor %}
<li class="categorie"><a href="{{ path('ggg_notices_categories_nom',{ 'nom': 'toto' }) }}">toto</a></li>
</ul>


</div><!-- fin wrapper-->
{% endblock  %}

{% include 'GGGNoticesBundle:Default:footer.html.twig' %}

{% block js %}
<script type="text/javascript" src="{{ asset('bundles/gggnotices/js/resize_img.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gggnotices/js/recherches.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gggnotices/js/propositions.js') }}"></script>
{% endblock  %}

</body>
</html>