{% extends "GGGNoticesBundle:Default:layout.html.twig" %}
{% block title %}
{{ nom }}
{% endblock %}



{% block wrapper %}



{% for message in app.session.flashbag.get('erreur') %}
<p class="erreur">{{ message|raw }}</p>
{% endfor %}

{{ form_start(form_filtre) }}
<h3>{{ form_label(form_filtre.nom,'Filtre par catégories') }}</h3>
{{ form_widget(form_filtre.nom) }}
{{ form_end(form_filtre) }}


{% if categorieNom is not null %}
<p class="info">{{ categorieNom|capitalize }} de la marque {{ nom|upper }}</p>
{% endif %}
{% for appareil in appareils %}
<a href="{{ path('ggg_notices_appareil_id', { id: appareil.id }) }}">
<div class="appareil">
<img src="/bundles/gggnotices/images/{{ appareil.photo }}.jpg" alt="{{ appareil.nom }}"/>
<strong class="nom">{{ appareil.marque.nom|upper }} {{ appareil.nom|upper }}</strong> 
<!--p class="description">{{ appareil.description }}</p-->
</div>
</a>
{% endfor %}

<!--a href="{{ path('ggg_notices_appareil_id',{ 'id': 50 }) }}">toto</a-->


{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ asset('bundles/gggnotices/js/formulaires.js') }}"></script>
{% endblock  %}
