<!DOCTYPE html>
<html>
<head>
<title>
Admin - Appareil Update | mon-aspirateur.net
</title>
<link rel="Stylesheet" type="text/css" href="/bundles/gggadmin/css/style_admin.css"/>
</head>
<body>

<div class="wrapper">

<h1>Update de {{ appareil.nom }}</h1>

<nav>
<a href="{{ path('ggg_admin_users') }}">Opérations sur les Utilisateurs</a>
<a href="{{ path('ggg_admin_appareils') }}">Opérations sur les Appareils</a>
<a href="{{ path('ggg_admin_marques') }}">Opérations sur les Marques</a>
<a href="{{ path('ggg_admin_categories') }}">Opérations sur les Catégories</a>
<a href="{{ path('ggg_admin_notices') }}">Opérations sur les Notices</a>
</nav>



<table>
<tr>
	<th>id</th> <th>nom</th> <th>photo</th> <th>creation</th> <th>marque</th> <th>catégorie</th> <th>notice</th> <th>action</th>
</tr>
<tr>
	<td>{{ appareil.id }}</td>
	<td>{{ appareil.nom }}</td>
	<td><img src="/bundles/gggnotices/images/{{ appareil.photo }}" width="100px" height="100px"/></td>
	<td>{{ appareil.creation|date }}</td>
	<td>{{ appareil.marque.nom }}</td>
	<td>{{ appareil.categorie.nom }}</td>
	<td>
	{% if appareil.notice is defined %}
	{% if appareil.notice.fichier is defined %}
	{{ appareil.notice.fichier }}
	{% else %}
	notice non renseignée
	{% endif %}

	{% endif %}
	</td>
	<td><button class="supprimer" id="{{ appareil.id }}">supprimer</button></td>
</tr>
</table>



<table>
<tr>
<th>nom</th> <th>photo</th> <th>marque</th> <th>catégorie</th> <th>notice</th>
</tr>
<tr>
	<td><input name="nom"   type="text"></td>
	<td><input name="photo" type="file"></td>
	<td>
		<select name="marque">
			{% for marque in marques %}
			<option value="{{ marque.id }}"{% if appareil.marque.nom == marque.nom%}selected="selected"{% endif %}>{{ marque.nom }}</option>
			{% endfor %}
		</select>
	</td>
	<td>
		<select name="categorie">
			{% for categorie in categories %}
			<option value="{{ categorie.id }}"{% if appareil.categorie.nom == categorie.nom%}selected="selected"{% endif %}>{{ categorie.nom }}</option>
			{% endfor %}
		</select>
	</td>
	<td>
		<select name="notice">
			{% for notice in notices %}
			<option value="{{ notice.id }}"{% if appareil.notice.fichier is defined %}{% if appareil.notice.fichier == notice.fichier%}selected="selected"{% endif %}{% endif %}>{{ notice.fichier }}</option>
			{% endfor %}
		</select>
	</td>

</tr>
</table>


<button class="enregistrer" id="{{ appareil.id }}">Enregistrer les modifications</button>
</div><!-- fin wrapper -->
<script type="text/javascript" src="/bundles/gggadmin/js/admin_appareilDelete.js"></script>
<script type="text/javascript" src="/bundles/gggadmin/js/admin_appareilUpdate.js"></script>
</body>
</html>