<!DOCTYPE html>
<html>
<head>
<title>
Admin | mon-aspirateur.net
</title>
<link rel="Stylesheet" type="text/css" href="{{ asset('bundles/gggadmin/css/style_admin.css') }}"/>
</head>
<body>

<div id="wrapper">

<h1>Page d'administration de mon-aspirateur.net</h1>


<nav>
<a href="{{ path('ggg_admin_users') }}">Opérations sur les Utilisateurs</a>
<a href="{{ path('ggg_admin_appareils') }}">Opérations sur les Appareils</a>
<a href="{{ path('ggg_admin_marques') }}">Opérations sur les Marques</a>
<a href="{{ path('ggg_admin_categories') }}">Opérations sur les Catégories</a>
<a href="{{ path('ggg_admin_notices') }}">Opérations sur les Notices</a>
</nav>

</div><!-- fin wrapper -->

</body>
</html>



